.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .header {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .resumeBox {
    width: 70%;
    height: 70%;
    border: 2px solid #1098ad;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
  }
