.container {
    display: flex;
    flex-direction: column;
  }
  
  .bannerSection,
  .experienceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .banner {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #1098ad;
    display: inline-block;
    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 4rem;
  }
  
  .icons {
    display: flex;
    justify-content: center;
  }
  
  .iconLink {
    margin: 0 1rem;
  }

  
  .header {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .navButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: #1098ad;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .navButton:hover {
    background-color: rgba(16, 152, 173, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .arrowDown {
    border: solid #1098ad;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  .arrowUp {
    border: solid #1098ad;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    transition: transform 0.3s ease;
  }
  
  .navButton:hover .arrowDown .arrowUp {
    transform: rotate(45deg) scale(1.8);
  }